apiVersion: v1
kind: ConfigMap
metadata:
  name: promtail-config
  namespace: monitoring
data:
  promtail.yaml: |
    server:
      http_listen_port: 9080
      grpc_listen_port: 0

    positions:
      filename: /run/promtail/positions.yaml

    clients:
      - url: http://loki.monitoring.svc.cluster.local:3100/loki/api/v1/push

    scrape_configs:
      - job_name: kubernetes-pods
        kubernetes_sd_configs:
          - role: pod
        
        relabel_configs:
          # Only scrape pods that are running
          - source_labels: [__meta_kubernetes_pod_phase]
            action: keep
            regex: Running
          
          # Add node name
          - source_labels: [__meta_kubernetes_pod_node_name]
            target_label: node_name
          
          # Add namespace
          - source_labels: [__meta_kubernetes_namespace]
            target_label: namespace
          
          # Add pod name
          - source_labels: [__meta_kubernetes_pod_name]
            target_label: pod
          
          # Add container name
          - source_labels: [__meta_kubernetes_pod_container_name]
            target_label: container
          
          # Add all pod labels
          - action: labelmap
            regex: __meta_kubernetes_pod_label_(.+)
          
          # Set the log path
          - source_labels: [__meta_kubernetes_pod_uid, __meta_kubernetes_pod_container_name]
            target_label: __path__
            separator: /
            replacement: /var/log/pods/*$1/*.log
